In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\nth...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\n( see a...",0
2,3624,ham,"Subject: neon retreat\nho ho ho , we ' re arou...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\nthis deal is to ...,0
5,2949,ham,Subject: ehronline web address change\nthis me...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\nwe agr...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

In [15]:
df = df[["text","label_num"]] #diğerleri işimize yaramadığı için kaldırdık
df.head(3)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\nth...          0
1  Subject: hpl nom for january 9 , 2001\n( see a...          0
2  Subject: neon retreat\nho ho ho , we ' re arou...          0

In [19]:
# Run - Running aynı kelime olduğunu anlaması için gerekli işlemler yapmalıyız
#natural-native language tool kit
!pip install nltk

Requirement already satisfied: nltk in c:\users\user\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [33]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [67]:
# stopword kaldırma işlemi -> the, at, on, is algoritmada önemi olmayan kelimeler kaldırılır
# stem işlmei (kelimeleri köküne indirme işlemi) -> running'den run'a
# rUnning - RUNNING -ruNNing
import string
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
import nltk

ps = PorterStemmer()

def clean_text(text):
    text = text.lower()
    # bütün noktalama işaretlerini boş metinle değiştir anlamına gelir
    text = text.translate(str.maketrans("","",string.punctuation))
    words = text.split()

    words = [word for word in words if not word.isdigit()] #words adında yeni bir array tanımlar ve tamamı numerik olanları eler

    words = [ps.stem(word) for word in words if word not in stopwords.words("english")]

    return " ".join(words)

clean_text("1. pyThon derslerimiz,. hakkında 30")

'python derslerimiz hakkında'

In [41]:
df.head(3)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\nth...          0
1  Subject: hpl nom for january 9 , 2001\n( see a...          0
2  Subject: neon retreat\nho ho ho , we ' re arou...          0

In [43]:
clean_text("Subject: enron methanol ; meter # : 988291\nth..")

'subject enron methanol meter th'

In [45]:
df["clean_text"] = df["text"].apply(clean_text)

In [49]:
df.head(5)

,text,label_num,clean_text
0,Subject: enron methanol ; meter # : 988291\nth...,0,subject enron methanol meter follow note gave ...
1,"Subject: hpl nom for january 9 , 2001\n( see a...",0,subject hpl nom januari see attach file hplnol...
2,"Subject: neon retreat\nho ho ho , we ' re arou...",0,subject neon retreat ho ho ho around wonder ti...
3,"Subject: photoshop , windows , office . cheap ...",1,subject photoshop window offic cheap main tren...
4,Subject: re : indian springs\nthis deal is to ...,0,subject indian spring deal book teco pvr reven...

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer # metinsel ifadeyi sayısal vekötrlere dönüştürür

x = df["clean_text"]
y = df["label_num"]

tfidf = TfidfVectorizer()
X_tfidf = tfidf.fit_transform(df["clean_text"])

X_train, X_test, y_train, y_test = train_test_split(X_tfidf, y, test_size = 0.3, random_state=42)

In [65]:
#Native Bayes
from sklearn.naive_bayes import MultinomialNB
#bayes -> bir olayın olmuş başka bir bilgiye dayanarak olma olasılığı nasıl değişir
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

In [ ]:
# Bu modelin metriklerini nasıl ölçülür?
# Bu modeli siz geliştiriyor olsaydınız, hangi değişiklikler ile modelin perfromasını geliştirmek için hangi adımları atardınız.
# KNN algoritmasını araştırıp, aynı modeli knn ile geliştir.